#cuisine {
  padding: 10px;
  font-size: 16px;
}
#resttype {
  padding: 10px;
  font-size: 16px;
}
#price {
  padding: 10px;
  font-size: 16px;
}
#rating {
  padding: 10px;
  font-size: 16px;
}
#timing {
  padding: 10px;
  font-size: 16px;
}
